body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;   /* 水平居中 */
  align-items: center;       /* 垂直居中 */
  font-family: Arial, sans-serif;
}

img {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  background: rgba(255,255,255,0.001);
  /* -webkit-app-region: drag;  拖动窗口的关键 */
}
